<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.daoben.rfid.mapper.AssetInfoMapper">

	<select id="findAll" resultType="AssetInfo">
		select * from asset_info
	</select>

	<select id="countAsset" resultType="java.util.Map">
		select a.ASSET_TYPE,count(a.RFID_LABELNUM) count from ASSET_INFO a  where a.tag_id is not null and a.TAG_ID not IN(SELECT b.tag_id from ASSET_IO_LIBRARY b) <!-- and a.TAG_ID not IN(SELECT c.tag_id from ASSET_IN_LIBRARY c) -->  group by a.asset_type
	</select>
	
	<select id="findByAssetType" resultType="Map" parameterType="String">
		SELECT * 
		from ASSET_INFO a 
		where a.ASSET_TYPE=#{assetType} 
		and  a.tag_id is not null 
		and  a.TAG_ID not IN(SELECT c.tag_id from ASSET_IO_LIBRARY c)	
	</select>
	
	<select id="findByAssetType2" resultType="Map"> 
		SELECT t.tag_id from ASSET_IN_LIBRARY t
	</select>
	
	
	<select id="findByRfidLabelnum" resultType="java.util.Map" parameterType="String">
	SELECT a.TAG_ID ,a.RFID_LABELNUM  ,a.ASSET_NAME ,a.ASSET_TYPE from ASSET_INFO a where a.RFID_LABELNUM=#{RFID_LABELNUM}
	</select>

		<select id="deviceQuery" resultType="AssetInfo">
		select a.rfid_labelnum,
		a.asset_name,
		a.asset_type,
		a.run_number,
		a.voltage_rank,
		a.device_id,
		a.factory_num,	
		a.electric_run_id,
		a.power_station_name,
		a.tag_id,
		a.original_value, 
		a.net_Value
		from asset_info a WHERE 1=1 
		<if test="rfid_Labelnum!=null"> AND a.rfid_labelnum LIKE '%${rfid_Labelnum}%'</if>
		<if test="asset_Name!=null">AND a.asset_name LIKE '%${asset_Name}%'</if>
		<if test="asset_Type!=null">AND a.asset_type LIKE '%${asset_Type}%'</if>
		<if test="run_Number!=null">AND a.run_number LIKE '%${run_Number}%'</if>
		<if test="voltage_Rank!=null">AND a.voltage_rank LIKE '%${voltage_Rank}%'</if>    
		<if test="device_Id!=null">AND a.device_id LIKE '%${device_Id}%'</if>
		<if test="factory_Num!=null">AND a.factory_num LIKE '%${factory_Num}%'</if>
		<if test="electric_Run_Id!=null">AND a.electric_run_id LIKE '%${"electric_Run_Id}%'</if>
		<if test="power_Station_Name!=null">AND a.power_station_name LIKE '%${power_Station_Name}%'</if>
		<if test="tag_Id!=null">AND a.tag_id LIKE '%${tag_Id}%'</if>
		<if test="original_Value!=null and original_Value!=''">AND a.original_value LIKE '%${original_Value}%'</if>
		<if test="net_Value!=null and net_Value!=''">AND a.net_Value LIKE '%${net_Value}%'</if>
	</select>
	
		<select id="findByTagId" resultType="AssetInfo" parameterType="String">
		SELECT a.RFID_LABELNUM,a.ASSET_NAME,a.ASSET_TYPE from asset_info a
		WHERE a.tag_id=#{tag_id}
	</select>
	
</mapper>